*{
  margin:0;
  padding: 0;
}
.heading1{
  font-family: 'Chilanka', cursive;
  font-size: 50px;
  text-align: center;
  padding-top:2vw;
}
.navbar{
  display:flex;
  flex-direction:row;
  align-self:center;
  padding-top: 2vw;
}
.buttonnav{
  background-color:  #d8681b;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-family: 'Chilanka', cursive;
  
}
.wholepage{
  display:flex;
  flex-direction: column;
  padding-top:10px;
}
 .middle{
   display:flex;
   flex-direction: coloumn;
   justify-content: center;
   align-content: flex-start;
   align-self: center;
 }
#maveli{
  width:40vw;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.homecontent{
  font-family: 'Chilanka', cursive;
  font-size: 25px;
  text-align: center;
  padding-top: 5px;
}
.content1{
  font-family: 'Chilanka', cursive;
  font-size: 25px;
  text-align: center;
  padding-top: 5px;
}
.onamimage1{
  width:20vw;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.heading2{
  font-family: 'Chilanka', cursive;
  font-size: 35px;
}
.onammessages{
  display:flex;
  flex-direction: row;
}